$neon-blue: #59d2fe;
$neon-blue-active: #59d2fec1;
$dark-blue: #191923;
$darker-blue: #111118;
$egg-shell: #f5f5e2;
$text-slide-duration: 3s;
$text-slide-delay: 0.3s;

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, $darker-blue 50%, $dark-blue 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
// .content {
//   left: 50%;
//   text-align: center;
//   position: fixed;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   .hero-image {
//     z-index: -1;
//     width: 300px;
//     padding: 1vmin;
//     background-color: rgba(255, 255, 255, 0.8);
//     border: 5px solid $dark-blue;
//     border-radius: 50%;
//     box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
//     box-sizing: border-box;
//   }
//   h1 {
//     margin-top: 2rem;
//     font-family: monospace;
//   }
// }
