$neon-blue: #59d2fe;
$neon-blue-active: #59d2fec1;
$dark-blue: #191923;
$darker-blue: #111118;
$egg-shell: #f5f5db;

.public-navbar {
  .media-icon {
    text-decoration: none;
    color: white;
    &:hover {
      color: $neon-blue;
    }
  }
  .contact-button {
    font-size: 1.1rem;
    max-width: fit-content;
    border-top: 2px solid $neon-blue;
    border-left: 2px solid $neon-blue;
    border-right: 2px solid $neon-blue-active;
    border-bottom: 2px solid $neon-blue-active;
    border-radius: 10px;
    background-color: $darker-blue;
    color: $neon-blue;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: $neon-blue;
      color: $dark-blue;
    }
    &:active {
      background-color: hsla(196, 99%, 67%, 0.744);
      transform: scale(0.9);
    }
  }
  .nav-link {
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: white;
    &:hover {
      color: $neon-blue;
    }
  }
}
#brand-name {
  color: white;
  cursor: pointer;
  &:hover {
    color: $neon-blue;
  }

  //////////////////////////////////// KEEP ABOIVE //////////////

  .header-title-section {
    .media-icon:hover {
      color: $neon-blue;
    }
    a {
      text-decoration: none;
      color: $egg-shell;
    }
  }
}

.header-nav-links {
  display: flex;
  gap: 3rem;
  align-items: center;
  a {
    position: relative;
    text-decoration: none;
    color: $egg-shell;
    &:hover {
      color: $neon-blue;
    }
    &::before {
      content: "";
      color: $neon-blue;
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $neon-blue;
      bottom: 0;
      left: 0;
      transition: width 0.3s;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
