.section-neon-header {
  // margin-top: 5;
  // margin-bottom: 2rem;
  .bar {
    height: 2px;
    width: 5rem;
    background-color: #59d2fe;
  }
  .title {
    font-size: 1.4rem;
    display: inline;
    color: #59d2fe;
  }
}
