$neon-blue: #59d2fe;
$neon-blue-active: rgba(89, 210, 254, 0.755);
$dark-blue: #191923;
$darker-blue: #111118;
$egg-shell: #f5f5dc;

#skill-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .skill-box {
    width: 8rem;
    height: 8rem;
    margin: 8px;
    background-color: $darker-blue;
    border-top: 4px solid $neon-blue;
    border-left: 4px solid $neon-blue;
    border-right: 4px solid $neon-blue-active;
    border-bottom: 4px solid $neon-blue-active;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    color: white;
    &:hover {
      color: $neon-blue;
      transform: translateY(-5px) translateX(-5px) scale(1.05);
      box-shadow: 5px 5px 3px white;
    }

    .skill-box-icon {
      height: 25%;
      width: 25%;
    }
    .skill-box-label {
      font-size: larger;
    }
  }
}
