$neon-blue: #59d2fe;

.App {
  color: white;
  font-family: monospace;
  span.neon-text {
    color: $neon-blue;
  }
  .main {
    max-width: 100%;
  }
}

.view-main-header {
  font-size: 4rem;
  font-weight: 400;
}

.view-main-content {
  margin-top: 2em;
}
